

  <div class="row ">
    
    <div class="col">
      <h1>Water Jug Problem</h1>
    </div>
    

    
  </div>

  <!--<div class="row">
  <div class="flexBox col" style="">
    <h2>center</h2>
  </div>
</div>-->

  <br>
  <form class="" action="" method="post">

    <!-- <textarea name="codefile" rows="15" cols="80" id="mytextarea">{{code}}</textarea> -->
      <h6>Enter Input parameters</h6>
      <div class="form-row">
        <div class="col">
          <input type="number" min="1" class="form-control" id="jug1inp" required name="jug1" placeholder="Jug 1 capacity">
        </div>
        <div class="col">
          <input type="number" min="1" class="form-control" required name="jug2" placeholder="Jug 2 capacity">
        </div>
        <div class="col">
          <input type="number" min="1" class="form-control" required name="target" placeholder="Target amount">
        </div>
      </div>
    <hr>
    <button  type="submit" name="button" class="btn btn-success"> Run </button>
  </form>


<br>

<script>
  
</script>
  


<!--
{{#if out}}

  {{#if result}}
    <div class="alert alert-success">
  {{else}}
    <div class="alert alert-danger">
  {{/if}}

      <pre>{{out}}</pre>
  </div>

{{/if}}
-->
