

  

  <!--<div class="row">
  <div class="flexBox col" style="">
    <h2>center</h2>
  </div>  
  </div>-->

  <br>
  <form class="" action="" method="post">

    <!-- <textarea name="codefile" rows="15" cols="80" id="mytextarea">{{code}}</textarea> -->
      <h6>Enter Capacity <i class="fas fa-prescription-bottle"></i>  </h6> 
      <div class="form-row">
        
        <div class="col">
          <input type="number" min="1" class="form-control" id="jug1inp" required name="jug1" placeholder="Jug 1">
        </div>
        <div class="col">
          <input type="number" min="1" class="form-control" required name="jug2" placeholder="Jug 2">
        </div>
        
        
      </div>

      <br>
      <h6>Enter Required Amount <i class="fas fa-window-maximize"></i>  </h6> 
      <div class="form-row">
        
        <div class="col">
          <input type="number" min="0" class="form-control" id="jug1req" required name="jug1r" placeholder="Jug 1">
        </div>
        <div class="col">
          <input type="number" min="0" class="form-control" required name="jug2r" placeholder="Jug 2">
        </div>
        
      </div>

      <br> 
      <div class="form-row">
        <div class="col">
          <label class="checkbox-inline"><input type="checkbox" id="checkrestrict" name="restrict" value="1"> Limited Amount </label>
        </div>
        <div class="col">
          <input type="number" min="1" class="form-control" id="restrictamount" required disabled name="total" placeholder="Total water allowed">
        </div>

      </div>
    <hr>
    <button  type="submit" name="button" class="btn btn-success"> Run </button>
    <a class="buttonlnk" href="/jugs3"> <button type="button" class="btn btn-primary"> Go for 3 jugs <i class="fas fa-fighter-jet"></i> </button>  </a> 
  </form>


  <br>

  <script>
    document.getElementById('checkrestrict').onchange = function() {
      document.getElementById('restrictamount').disabled = !this.checked;
    };  
  </script>
  {{> container}}


<!--
{{#if out}}

  {{#if result}}
    <div class="alert alert-success">
  {{else}}
    <div class="alert alert-danger">
  {{/if}}

      <pre>{{out}}</pre>
  </div>

{{/if}}
-->
