

  <div class="row ">
    
    
    <div class="col-md-8 align-self-center">
      <h1>Water Jug Problem</h1>
    </div>

    
  </div>

  <form class="" action="" method="post">

    <!-- <textarea name="codefile" rows="15" cols="80" id="mytextarea">{{code}}</textarea> -->
      <h4>Enter Input parameters</h4>
      <div class="form-row">
        <div class="col">
          <input type="number" class="form-control" name="jug1" placeholder="Jug 1 capacity">
        </div>
        <div class="col">
          <input type="number" class="form-control" name="jug2" placeholder="Jug 2 capacity">
        </div>
        <div class="col">
          <input type="number" class="form-control" name="target" placeholder="Target amount">
        </div>
      </div>
    <hr>
    <button type="submit" name="button" class="btn btn-success">Run</button>
  </form>


<br>
{{#if out}}

  {{#if result}}
    <div class="alert alert-success">
  {{else}}
    <div class="alert alert-danger">
  {{/if}}

      <pre>{{out}}</pre>
  </div>

{{/if}}
