
  <h2>lang - cpp</h2>
  <form class="" action="" method="post">

    <textarea name="codefile" rows="15" cols="80" id="mytextarea">{{code}}</textarea>
    <div class="form-row">
      <div class="form-group col-md-2">
      <label for="exampleFormControlSelect1">lang</label>
      <select class="form-control form-control-sm" id="exampleFormControlSelect1" name="lang">
        <option>cpp</option>
        <option>java</option>
        <option>py</option>
      </select>

      </div>
    </div>

    <button type="submit" name="button" class="btn btn-success">Run</button>
  </form>

<script type="text/javascript">

$("textarea").keydown(function(e) {
  if(e.keyCode === 9) { // tab was pressed
      // get caret position/selection
      var start = this.selectionStart;
          end = this.selectionEnd;

      var $this = $(this);

      // set textarea value to: text before caret + tab + text after caret
      $this.val($this.val().substring(0, start)
                  + "\t"
                  + $this.val().substring(end));

      // put caret at right position again
      this.selectionStart = this.selectionEnd = start + 1;

      // prevent the focus lose
      return false;
    }
  });

</script>
<br>
{{#if out}}

  {{#if result}}
    <div class="alert alert-success">
  {{else}}
    <div class="alert alert-danger">
  {{/if}}

      <pre>{{out}}</pre>
  </div>

{{/if}}
