<br>
<form class="" action="" method="post">

<!-- <textarea name="codefile" rows="15" cols="80" id="mytextarea">{{code}}</textarea> -->
    <h6>Enter Capacity <i class="fas fa-prescription-bottle"></i>  </h6> 
    <div class="form-row">
    
    <div class="col">
        <input type="number" min="1" class="form-control" required name="jug1" placeholder="Jug 1">
    </div>
    <div class="col">
        <input type="number" min="1" class="form-control" required name="jug2" placeholder="Jug 2">
    </div>
    <div class="col">
        <input type="number" min="1" class="form-control" required name="jug3" placeholder="Jug 3">
    </div>
    
    </div>

    <br>
    <h6>Enter Required Amount <i class="fas fa-window-maximize"></i> </h6>  
    <div class="form-row">
    
    <div class="col">
        <input type="number" min="0" class="form-control" required name="jug1r" placeholder="Jug 1">
    </div>
    <div class="col">
        <input type="number" min="0" class="form-control" required name="jug2r" placeholder="Jug 2">
    </div>
    <div class="col">
        <input type="number" min="0" class="form-control" required name="jug3r" placeholder="Jug 3">
    </div>
    
    </div>

    <br> 
    
<hr>
<button  type="submit" name="button" class="btn btn-success"> Run </button>
<a class="buttonlnk" href="/"> <button type="button" class="btn btn-primary"> Go for 2 jugs <i class="fas fa-fighter-jet"></i> </button>  </a> 
</form>


<br>

{{#if out}}
    
    <div class="row">
        <div class="col flexBox">
            <h4 id="focus" ><i id="task"></i> </h5>
        </div>
    </div>

    <div class="row " >
    
        <div class="col flexBox">
            <div class="card" style="width: 16rem; margin-right:1rem;">
                <div class="card-body">
                    <h5 class="card-title">Jug 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Capacity : <span id="jug1cap">2</span> <i>l</i>  </h6>
                    <h6 class="card-subtitle mb-2 text-muted">Target amount : <span id="jug1trg"></span> <i>l</i>  </h6>
                    <p class="card-text"> current amount: <span id="jug1am"> 0</span> </p>
                    
                </div>
            </div>

            <div class="card" style="width: 16rem; margin-left:1rem; margin-right:1rem;">
                <div class="card-body">
                    <h5 class="card-title">Jug 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Capacity : <span id="jug2cap">2</span> <i>l</i> </h6>
                    <h6 class="card-subtitle mb-2 text-muted">Target amount : <span id="jug2trg"></span> <i>l</i>  </h6>

                    <p class="card-text"> current amount: <span id="jug2am"> 0</span> </p>
                    
                
                </div>
            </div>

            <div class="card" style="width: 16rem; margin-left:1rem;">
                <div class="card-body">
                    <h5 class="card-title">Jug 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Capacity : <span id="jug3cap">2</span> <i>l</i>  </h6>
                    <h6 class="card-subtitle mb-2 text-muted">Target amount : <span id="jug3trg"></span> <i>l</i>  </h6>
                    <p class="card-text"> current amount: <span id="jug3am"> 0</span> </p>
                    
                </div>
            </div>

        </div>
        
    </div>

    <div class="row " id="dispjug"  >
        
        <div class="col flexBox">
            <div id="water_detail" class="jug" >
                <div id="water_level">
                    
                </div>
                
            </div>

            <div id="water_detail1" class="jug">
                
                <div id="water_level1"></div>
                
            </div>

            <div id="water_detail2" class="jug">
                
                <div id="water_level2"></div>
                
            </div>
        </div>
        
    </div>
    <div class="row " id="disppag" >
        <div class="col">
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item " id="pageprev">
                <a class="page-link" id="prev" href="#focus">Prev Step</a>
                </li>
                <li class="page-item"> <a class="page-link" href="#"> <span id="index"></span> </a>  </li>
                <li class="page-item" id="pagenext">
                <a class="page-link" id="next" href="#focus">Next Step</a>
                </li>
            </ul>
            </nav>

        </div>
    </div>

  {{#if result}}
    <div hidden class="log">
  {{else}}
    <div class="alert alert-danger log">
  {{/if}}

      <pre id="outputpath">{{out}}</pre>
  </div>
    <br>
  <div class="result">
        <pre id="outputlog"></pre>
  </div>

{{/if}}

<script>
    $(document).ready(function () {
        
        // set paginations
        var ind = 0;
        $('#index').text(ind);
        $('#pageprev').attr('class','page-item disabled');

        var solution = $("#outputpath").text().split("\n");


        for(var i=0;i<solution.length;i++)
        {
            solution[i] = solution[i].trim();
            if(i==0)
            {
                $("#jug1cap").text(solution[i]);
            }
            if(i==1)
            {
                $("#jug2cap").text(solution[i]);
            }
            if(i==2)
            {
                $("#jug3cap").text(solution[i]);
            }
            if(i==3)
            {
                $("#jug1trg").text(solution[i]);
            }
            if(i==4)
            {
                $("#jug2trg").text(solution[i]);
            }
            if(i==5)
            {
                $("#jug3trg").text(solution[i]);
            }
            
        }
        var jug1cap = Number(solution[0]);
        //$("#jug1cap").text(jug1cap);
        var jug2cap = Number(solution[1]);

        var jug3cap = Number(solution[2]);
        //$("#jug2cap").text(jug2cap);
        var jug1req = Number(solution[3]);
        //$("#jug1req").text(jug1req);
        var jug2req = Number(solution[4]);

        var jug2req = Number(solution[5]);
        //$("#jug2req").text(jug2req);

        var result = solution[6];
        var jug1val = [];
        var jug2val = [];
        var jug3val = [];
        var task = [];

        if(result == "1")
        {
            $(".result").attr("class", "alert alert-success result");
            var step = solution[7];
            var successmsg = "Target can be reached in "+step + " steps";  
            $("#outputlog").text(successmsg);

            step = Number(step);
            task.push("");
            jug1val.push(0);
            jug2val.push(0);
            jug3val.push(0);
            let i = 8;
            //console.log(solution.length);
            while(i<solution.length)
            {
                task.push(solution[i]);
                i++;
                if(i >= solution.length)
                break;
                jug1val.push(Number(solution[i]) );
                i++;
                if(i >= solution.length)
                break;
                jug2val.push(Number(solution[i]) );
                i++;
                if(i >= solution.length)
                break;

                jug3val.push(Number(solution[i]) );
                i++;
                if(i >= solution.length)
                break;
                
            }

            console.log(task);
            console.log(jug1val);
            console.log(jug2val);
            
        }
        else
        {
            $(".result").attr("class", "alert alert-danger result");
            var failmsg = solution[7];
            $("#outputlog").text(failmsg);
            $('#dispjug').hide();
            $('#disppag').hide();
           //$("#jugsdisp").attr("hidden");
            
        }


        //console.log(solution);
        $('#prev').click(function(){
            ind--;
            $('#jug1am').text(jug1val[ind]);
            var result = (jug1val[ind]/jug1cap)*100;
            $('#water_level').animate( {'margin-top' : (300-result*3)+'px' } );
            
            $('#jug2am').text(jug2val[ind]);
            result = (jug2val[ind]/jug2cap)*100;
            $('#water_level1').animate( {'margin-top' : (300-result*3)+'px' } );

            $('#jug3am').text(jug3val[ind]);
            result = (jug3val[ind]/jug3cap)*100;
            $('#water_level2').animate( {'margin-top' : (300-result*3)+'px' } );

            $('#task').text(task[ind]);

            $('#index').text(ind);
            
            if(ind  == 0)
            {
                $('#pageprev').attr('class','page-item disabled');
            }
            if(ind < jug1val.length-1)
            {
                $('#pagenext').attr('class','page-item');
            }
            
        });
        $('#next').click(function(){
            ind++;
            $('#jug1am').text(jug1val[ind]);
            var result = (jug1val[ind]/jug1cap)*100;
            $('#water_level').animate( {'margin-top' : (300-result*3)+'px' } );
            
            $('#jug2am').text(jug2val[ind]);
            result = (jug2val[ind]/jug2cap)*100;
            $('#water_level1').animate( {'margin-top' : (300-result*3)+'px' } );

            $('#jug3am').text(jug3val[ind]);
            result = (jug3val[ind]/jug3cap)*100;
            $('#water_level2').animate( {'margin-top' : (300-result*3)+'px' } );

            $('#task').text(task[ind]);

            $('#index').text(ind);
            
            if(ind +1 == jug1val.length)
            {
                $('#pagenext').attr('class','page-item disabled');
                
                setTimeout(function(){
                    let msg = "Target reached";  
                    alert(msg);
                },2000);
                
            }
            if(ind > 0)
            {
                $('#pageprev').attr('class','page-item');
            }
            
        });
        

        /*setInterval(function() {
            //$.get("http://www.h2o-info.com/betapage/script_water_detail.php", function (result) {
                var result = Math.random()*100;
            $('#water_level1').animate( {'margin-top' : (300-result*3)+'px' } );
            //});
        },2000);-*/ 
    });

</script>
