textarea{
  font-family: monospace;
}
#output{
  background-color: rgb(136, 102, 100);
}

.flexBox{
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



h1 {
  font: 200 1.2em "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-weight: 200;
  color: #fff;
  background: #039be4;
  padding: 20px;
  margin: 0;
  border-bottom: 10px solid #ccc;
}

h1 strong{
  
    font-family: "Segoe UI Black";
    font-weight: normal;
  
}